<h1>Your Memories</h1>

<div class="responsive-table table-status-sheet">
    <table class="highlight">
        <thead>
            <th>Name</th>
            <th>Date</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Description</th>
        </thead>
        <tbody>
            <% places.forEach(p => { %>
                <tr>
                    <td><a href="/memory/<%=p.id %>"><%= p.name %></a></td>
                    <td><%= p.date %></td>
                    <td><%= p.city %></td>
                    <td><%= p.state %></td>
                    <td><%= p.country %></td>
                    <td><%= p.description%></td>
                    
                
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>


