<h1>Your Memories</h1>
<% places.forEach(place => { %>
    <div>
        <h2><%= place.name %></h2>
        <h3><%= place.date %></h3>
        <h3><%= place.city %></h3>
        <h3><%= place.state %></h3>
        <h3><%= place.country %></h3>
        <p><%= place.description %></p>
    </div>
<% }) %>