<h2>Here is your memory!</h2>

<body>
    <div>
        <h4><strong><%= place.name %></strong></h4>
        <p id="place-id"><%= place.id %></p>
        <p><strong><%= place.city %>, <%= place.state %>, <%= place.country %></strong></p>
        <p><strong><%= place.description %></strong></p>
        <!--Passing the lat and long coordinates to the front end.-->
        <p id="lat"><%= results.lat %></p>
        <p id="long"><%= results.long %></p>
    </div>
    
    <div class="row">
        <div class="col s4">
            <form action="/memory/<%=place.id%>/?_method=DELETE" method="POST">
            <img class="responsive-img" alt="memory-image" id="memory-image" src="<%= place.imgUrl %>">
            <button id="upload_widget" class="cloudinary-button">Upload A Picture</button>
            <input type="submit" id="delete" value="Delete Memory">
            </form>
        </div> 

        <div class="col s8">
            <div id="map" class="map-container"></div>
            <pre id="info"></pre>
        </div>
    </div>

    <script>
        // Storing the lat and long coordinates so I can pass them into the map
        let lat = document.getElementById('lat').textContent
        let long = document.getElementById('long').textContent
        mapboxgl.accessToken = '<%= mapkey %>';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [long, lat], // starting position
            zoom: 9 // starting zoom
        });
        // map.on('mousemove', function(e) {
        //     document.getElementById('info').innerHTML =
        //     // e.point is the x, y coordinates of the mousemove event relative
        //     // to the top-left corner of the map
        //     JSON.stringify(e.point) +
        //     '<br />' +
        //     // e.lngLat is the longitude, latitude geographical position of the event
        //     JSON.stringify(e.lngLat.wrap());
        // });
    </script>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
    // This is the javascript for the cloudinary widget
        let pId = document.getElementById('place-id').textContent
        // console.log(pId);
        let myWidget = cloudinary.createUploadWidget({
            cloudName: 'dschawel', 
            uploadPreset: 'et0rvort'}, (error, result) => { 
            if (!error && result && result.event === "success") { 
                // console.log('Done! Here is the image info: ', result.info); 
                fetch(`/memory/${pId}`, {
                    method: 'PUT',
                    body: JSON.stringify({ imgUrl: result.info.secure_url }),
                    headers: { "Content-Type": "application/json; charset=utf-8"}
                })
                .then((response) => response.json())
                .then((data) => {
                    // console.log('success', data)
                    document.getElementById('memory-image').setAttribute('src', result.info.secure_url)
                })
                .catch((error) => {
                    // console.log('error', error)
                })
                }
            }
        )
        
        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
        }, false);
    </script>
</body>